##### Altium
History
__Previews
*.PrjPCBStructure
*.PrjPcbStructure
*.SchDocPreview
*.PcbDocPreview
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$
Project\ Outputs
Project\ Logs
Project Outputs for *
Project Logs for *

#History
#Exports, but not manual ones
exports/*
!exports/manual